version: '2'

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    env_file:
      - config/zookeeper.env
    ports:
      - "22181:2181"

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"
      - "9092:9092"
    env_file:
      - config/kafka.env
